<div class="flex flex-col gap-6">
				<h2 class="gold-color-text font-[lobsterTwo] text-[32px] text-center">
					Entrées
				</h2>

				{# categorie container #}
				<div class="flex flex-row gap-4 text-[inter] text-white text-[24px]">
					<div class=" flex flex-col gap-1">
						<p>Salade auvergante (salade, bleu d'Auvergne, noix, jambon cru)</p>
						<p>Croustillant de Saint-Nectaire (feuilleté au fromage fondu et miel)</p>
						<p>Soupe aux lentilles du Puy avec crême fraîche et croûtons</p>
					</div>

					<div class="w-[2px] h-full bg-[var(--color-gold)]"></div>

					<div class=" flex flex-col gap-1">
						<p>8 &euro;</p>
						<p>7 &euro;</p>
						<p>6 &euro;</p>
					</div>
				</div>
			</div>