<div class="w-full h-auto flex flex-col gap-6 ">
	<h2 class="gold-color-text font-[lobsterTwo] text-[32px] text-center">
		{{title}}
	</h2>

	{# categorie container #}
	<div class="w-full h-full flex flex-row gap-6 text-[inter] text-white text-[24px] justify-between items-start">
		<div class=" flex flex-col gap-1">
			<ul>
				{% for plat in plats %}
					<li>{{plat}}</li>
				{% endfor %}
			</ul>
		</div>


		<div class=" flex flex-col gap-1 border-l-4 gold-border pl-6">
			<ul>
				{% for price in prix %}
					<li>{{price}}&euro;</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
