{% extends 'base.html.twig' %}

{% block title %}Menu
{% endblock %}

{% block body %}

	<header class="w-full h-[500px]">
		<div tabindex="0">
			<a href="{{ path('app_home') }}" class="w-16 h-16 cursor-pointer absolute top-2 left-2 outline-none hover:rotate-20 hover:scale-110 focus:scale-110 focus:rotate-20 transition-transform duration-200 ease-out block z-10">
				<img class="w-full h-full" src="{{ asset('icons/left-arrow-back.svg')}}" alt="Revenir à l'accueil">
			</a>
		</div>
		<img class="w-full h-full " src="{{ asset('img/menu-baneer.webp')}}" alt="Bannière du réstaurant le volcan">
	</header>

	<main class="w-full h-auto flex flex-col flex-1 items-center   gap-12 py-9">
		<section class="w-[90%] h-full flex flex-col items-center justify-center gap-28">
			<h1 class=" text-6xl font-[lobsterTwo] gold-color-text">Notre carte !</h1>

			{% include 'partials/menu-container.html.twig' with {
				title: 'Entrées',
				plats: ["Salade auvergante (salade, bleu d'Auvergne, noix, jambon cru)","Croustillant de Saint-Nectaire (feuilleté au fromage fondu et miel)","Soupe aux lentilles du Puy avec crême fraîche et croûtons"],
				prix: [8,7,6]
			} %}

			{% include 'partials/menu-container.html.twig' with {
				title: 'Plats',
				plats: ["Truffade traditionnelle pommes de terre, tome fraîche, ail persil","Aligot & saucisse artisanale purée onctueuse au fromage","Tartiflette au Saint-Nectaire","Entrec$ote grillée accompagnée de gratin dauphinois et légumes"],
				prix: [15,14,18,22]
			} %}

			{% include 'partials/menu-container.html.twig' with {
				title: 'Desserts',
				plats: ["Fondant chocolat & câtaignes avec crême anglaise maison","Tarte aux myrtilles des montagnes servie tiède avec chantilly","Crême brûlée au sucre de betterave croquant et fondant à la fois"],
				prix: [7,6,6]
			} %}
		</section>

	</main>
{% endblock %}
