{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<main class="w-full flex flex-col flex-1 items-center gap-12">
		<img class="w-full h-[400px]" src="{{ asset('img/hero-baneer.webp')}}" alt="Bannière du réstaurant le volcan">

	</div>

</main>{% endblock %}
